//-----------------------------------------------------------------------------
/* VARIABLES */
//-----------------------------------------------------------------------------

// Colors
$dark-color: #333333;
$light-color: #FFFFFF;

// Fonts
$primary-font: 'Montserrat', sans-serif;

// Layout
$max-width: 1170px;
$margin-auto: 0 auto;
