{% extends 'partials/base.html.twig' %}

{% block content %}
	<div id="error">
		<div>
			<h2>{{ 'ERROR'|t }} {{ page.header.http_response_code }}</h2>
			<p>
				{{ page.content }}
			</p>
		</div>
	</div>
{% endblock %}
