{% embed 'partials/base.html.twig' %}

	{% block content %}
		<div class="blog-item-wrapper">
			<div id="blog-item">
			    {% include 'partials/blog_item.html.twig' with {'blog':page.parent, 'truncate':false} %}
			</div>
		</div>
	{% endblock %}

{% endembed %}
